adafruit_displayio_ssd1306==3.0.4
adafruit_framebuf==1.6.10
adafruit_pixelbuf==2.0.10
adafruit_pixel_framebuf==1.1.18
adafruit_ticks==1.1.5
neopixel==6.3.20
adafruit_ads1x15==3.0.2
adafruit_bitmap_font==2.4.0
adafruit_bus_device==5.2.15
adafruit_display_text==5.0.0
adafruit_ht16k33==4.6.15
adafruit_led_animation==2.12.4
adafruit_mcp230xx==2.5.19
